@import "styles/_variables.scss";

.main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.wrapper {
    margin: 50px auto;

    box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.methods {
    display: flex;
}

.method {
    margin: 30px 32px 32px;

}

.method_title {
    display: block;
    margin-bottom: 38px;

    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
}

.method_input_wrapper {
    position: relative;

    margin-top: 20px;
}

.method_input {
    width: 313px;
    height: 46px;

    padding: 12px 20px;

    font-weight: normal;

    border: 1px solid #CBCBCB;
    border-radius: 4px;
}

.method_input_loader {
    position: absolute;
    top: 14px;
    right: 14px;
}

.button_wrapper {
    display: flex;
    justify-content: center;

    margin: 0 auto 28px;
}

//деактивируем кнопку на время загрузки
.element_disabled {
    pointer-events: none;
    opacity: 0.8;
}


//убираем стрелки инпута
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

// -- MOBILE (< 768px) --//
@media (max-width: $md3+px) {

    .wrapper {
        margin: 5px 10px;
    
        box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
    }

    .methods {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .method {
        margin: 30px 12px 32px;
        
    }

}

// -- MOBILE landscape (< 768px) --//
@media (max-width: $md3+px) and (orientation:landscape) {

    .main {
        display: flex;
        align-items: center;
        justify-content: center;
    
        height: 100%;
    }

    .wrapper {
        margin: 5px auto;
    }
}
