@import "styles/_variables.scss";

.main {
    display: flex;
    align-items: center;

    height: 100vh;
}

.wrapper {
    margin: 50px auto;
    padding: 28px 74px;
    min-height: 371px;
    width: 460px;

    box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.img {
    text-align: center;
}

.title {
    margin-top: 21px;
    margin-bottom: 8px;

    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
}

.text {
    text-align: center;

    line-height: 24px;
}

.button_wrapper {
    display: flex;
    justify-content: center;

    margin-top: 44px;
}